<p id="notice"><%= notice %></p>
<div class="blogEntire">
<h1 class="blogHeader">What You Need to Know</h1>



<div class="row">
    <% @posts.each do |post| %>


  <h1 class="blogTitle">
         <p id="daTitle"><%= post.title %> </p>
  <div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-body blogText"> 
      <p><%= post.blog_entry %></p>
      <p>by <%= post.author %></p>
    </div>
      <div class="panel-footer blogFooter">
       <p>
            <%= link_to 'Show', post %>
          <% if can? :update, post %>
            <%= link_to 'Edit', edit_post_path(post) %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
            </p>
      </div>
  </div>
</div>
</div>           
    <% end %>
  </div>
</div>  
<%= link_to 'New Post', new_post_path, class: "btn btn" %>


